<!DOCTYPE html>
<html>
  <head>
    <title>Manuscript Case Assignment</title>
    <meta name="description" content="An app for controlling random case assignment in Manuscript">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link id="favicon" rel="icon" href="https://cdn.glitch.com/939156d9-94c9-4365-80d7-f7200939116f%2Ffc-mark.jpg?1491420864680" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <header>
      
      <img src="https://cdn.glitch.com/939156d9-94c9-4365-80d7-f7200939116f%2Fmanuscript-logo-mark.svg?1512663712035" class="manuscript-logo">
      
      <h1>
        Manuscript Case Assignment
      </h1>
    </header>

    <main>
      <h2>An app for controlling random case assignment in Manuscript, made by <a href="https://fogcreek.com">Fog Creek</a></h2>
      <h3 class="invalid-notifier">Invalid URL or token is not an admin token</h3>

      <form class="authentication-form" action="login" method="post">
        <div class="authentication-details">
          <select class="input auth-url-protocol" name="protocol">
            <option value="http://">http://</option>
            <option value="https://" selected>https://</option>
          </select>
          <input class="input auth-url" name="url" type="text" placeholder="Insert your Manuscript URL here" autofocus>
          <input class="input auth-token" name="token" type="password" placeholder="Insert Manuscript administrator API token here">
        </div>
        <button type="submit" class="auth-button">
          Authenticate
        </button>
        <p class="api-learn">
          <span class="highlight">Your admin API token is only used for authentication and will not be stored.</span><br>Don't know how to get an API token? <a href="http://help.fogcreek.com/8447/how-to-get-a-fogbugz-xml-api-token">Learn here</a>.
        </p>
      </form>

    </main>

    <footer>
      <a href="https://glitch.com/edit/#!/remix/case-assignment">
        <img src="https://cdn.glitch.com/2703baf2-b643-4da7-ab91-7ee2a2d00b5b%2Fremix-button.svg" alt="Remix on Glitch" />
      </a>
    </footer>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>
    
  </body>
</html>
